@font-face {
    font-family: 'JetBrains Mono';
    src: url('@/fonts/JetBrainsMono-Regular.ttf');
}

.display-none {
    display: none;
}

* {
    font-family: 'JetBrains Mono', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #333;
    // padding: 0 20px;
    color: white;
}

.link {
    color: $color-white;
    text-decoration: underline;
    // &:visited {
    //     text-decoration: underline;
    // }
    position: relative;
    transition: color .2s ease-in-out;
    &::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        transition: background-color .2s ease-in-out;
        background-color: $color-white;
    }
    &:hover {
        color: $color-blue-light;
    }
    &:hover::after {
        background-color: $color-blue-light;
    }
}

.color-warning {
    color: $color-warning;
}