// Colors
$color-blue-light: cornflowerblue;
$color-dark-grey: darkgrey;
$color-brown-light: rosybrown;
$color-primary-blue: aliceblue;
$color-warning: lightcyan;
$color-black: black;
$color-white: white;
$color-fail: #CD5C5C;
$color-done: #71BE1E;