// Colors
$color-blue-light: cornflowerblue;
$color-dark-grey: darkgrey;
$color-brown-light: rosybrown;
$color-blue-active: deepskyblue;
$color-warning: lightcyan;
$color-black: black;
$color-white: white;
$color-fail: #CD5C5C;
$color-done: #71BE1E;
$color-primary-hover: #0F79AF;
$color-primary-active: #59C79F;